<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>fwrp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <absolute-ordering/>
  <servlet>
    <description></description>
    <display-name>AuthController</display-name>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>cst8288.project.fwrp.controller.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordFilter</display-name>
    <servlet-name>PasswordFilter</servlet-name>
    <servlet-class>cst8288.project.fwrp.security.PasswordFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordFilter</servlet-name>
    <url-pattern>/PasswordFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PasswordFilter</display-name>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>cst8288.project.fwrp.security.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <servlet-name>PasswordFilter</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerController</display-name>
    <servlet-name>RetailerController</servlet-name>
    <servlet-class>cst8288.project.fwrp.controller.RetailerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerController</servlet-name>
    <url-pattern>/retailers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsumerController</display-name>
    <servlet-name>ConsumerController</servlet-name>
    <servlet-class>cst8288.project.fwrp.controller.ConsumerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerController</servlet-name>
    <url-pattern>/consumers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CharitableOrgController</display-name>
    <servlet-name>CharitableOrgController</servlet-name>
    <servlet-class>cst8288.project.fwrp.controller.CharitableOrgController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharitableOrgController</servlet-name>
    <url-pattern>/charitable_orgs/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserTypeFilter</display-name>
    <filter-name>UserTypeFilter</filter-name>
    <filter-class>cst8288.project.fwrp.security.UserTypeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserTypeFilter</filter-name>
    <url-pattern>/retailers/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserTypeFilter</filter-name>
    <url-pattern>/consumers/*</url-pattern>
  </filter-mapping>
<!--  <filter-mapping>
    <filter-name>UserTypeFilter</filter-name>
    <url-pattern>/charitable_orgs/*</url-pattern>
  </filter-mapping>
 -->
 
  </web-app>